<div class="teamcontainer">
  <h1 id="team" cla>Team Score!</h1>
  <hr>
  <ul>
    <br>
    <% @teams.each do |team|%>
      <li id="teaminfo">
          <p>Name: <%= team.name %></p>
          <p>Score: <%= team.team_score %></p>
          <br>
      </li> -->

    <% end %>
  </ul>
</div>
