<div class="teamcontainer">
  <h1 id="team" cla>Team Score!</h1>
  <hr>
  <ul>
    <br>
    <% @teams.each do |team|%>
      <li>
          <p>Name: <%= team.name %></p>
          <p>Score: <%= team.@team_average %></p>
          <br>
      </li>

    <% end %>
  </ul>
</div>
