// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#link {
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  opacity: 1;
  background-color: white;
}
