* {
    font-family: Roboto;
    /*overflow: auto;*/
}
html {
  margin: 0px;
}

body {
  background :
  url('/assets/5-watercolor-map-of-the-world-map-michael-tompsett.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.hello {
  font-size: 40px;
  color: white;
  background-color: #2e6a86;
  text-align: center;
  font-size: 3.5em;
  font-weight: 800;
  margin: 0px;
  padding: 15px;
  width: auto;
  height: auto;
}

#introduction {
  text-align: center;
  background-color: #2e6a86;
  color: white;
  font-size: 18px;
  padding: 15px;
  margin: 0px;
  opacity: 0.9;
  position: absolute;
  bottom: 100px;
  width: 100%;
  border: 2px solid darkblue;
  border-radius: 40px 2px;
}

h4 {
  text-align: center;
  background-color: #935d00;
  color: white;
  font-size: 15px;
  padding: 15px;
  margin: 0px;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.error {
  border: 1px solid red;
  border-radius: 4px;
}
