* {
    font-family: Roboto;
}
html {
  margin: 0px;
  height: auto;
}

body {
  background :
  url('/assets/5-watercolor-map-of-the-world-map-michael-tompsett.jpg') no-repeat;
  background-position: top center;
  margin: 0px;
  height: auto;
  width: 100%;
}

.hello {
    color: white;
    background-color: darkblue;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    border: 3px solid green;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 320px;
    padding: 15px;
    width: 80%;
    /*color: #cb1608;
    border: 3px solid darkblue;
    margin-top: 7%;
    margin-right: 30px;
    margin-left: 30%;
    background-color: #fefef74d;
    background-color: #fbfb8599;*/
    overflow: hidden;
    opacity: 0.8;
}
.container {
    margin-right: 50px;
}

/*#register,
#login,
#guestuser {
  color: darkblue;
  font-weight: 700;
  font-size: 14px;
  float: right;
  text-align: center;
  margin: 3.5px;
  padding: 4px;
  border-radius: 8px;
  border-color: darkblue;
}*/

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 96.8%;
  padding: 0;
  width: 110px;
  background-color: #cb1608;
  opacity: 0.8;
}
li  a {
  display: block;
  color: #cfcfcf;
  padding: 5px 8px;
  text-decoration: none;
}

li a:hover {
  background-color: #cfcfcf;
  color: black;
}
h4 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin-top: 440px;
  opacity: 0.7;
}
