* {
  box-sizing: border-box;
}

#map {
  margin: auto;
  /*height: 500px;*/
  /*width: 800px;*/
  height: 550px;
  width: 1100px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px #999;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 15px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 15px;
  padding: 0px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

/*#emissions-display-box {
    overflow: auto;
    display: block;
}

#transit-types,
#vehicle-types {
  visibility: hidden;
}

#emissions-display-box,
#score-display-box {
  display: block;
  width: 34%;
  height: 280px;
  padding: 15px;
  opacity: 0.9;
  margin-top: 10px;
  border: 3px dotted black;
  border-width: 10px 5px;
  border-radius: 50px 60px;
  background-color: white;
}

#emissions-display-box {
  float: left;
  margin-left: 15%;
}

#score-display-box {
  float: right;
  text-align: center;
  margin-right: 15%;
}

#emissions-value {
  text-align: center;
}

#score-value {
  padding: 15px;
}

.dis,
#score-display-statement,
#emissions-display-statement {
  color: #154a5f;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 5px;
}

#distance,
#emissions-value,
#score-value {
  color: #c90606;
  font-size: 22px;
  font-weight: 500;
}

#transit-types,
#transit-options,
#vehicle-types,
#vehicle-options {
  width: 150px;
  color: #154a5f;
  font-size: 16px;
  margin-left: 50px;
}

#transit-types {
  margin-top: 5px;
  margin-bottom: 0px;
}

#vehicle-types {
  margin-top: 0px;
  margin-bottom: 5px;
}

#submit-score {
  font-size: 18px;
  color: white;
  background-color: #154a5f;
  opacity: 0.8;
  width: auto;
  height: 40px;
  border: 1px solid inherit;
  border-radius: 8px;
}

#submit-score:hover {
  opacity: 1;
}*/
