// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usercontainer {
  text-align: center;
  color: #173d4e;
  background-color: #e4edec;
  width: 400px;
  height: 200px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 585px;
  position: absolute;
  right: 0;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
}

.usercontainer:hover {
  opacity: 1;
}
.field {
  padding: 2px;
  line-height: 2;
}

#userlogin,
#user {
  font-size: 17px;
  color: #2d6e8c;
  border: 2px solid;
  padding: 3px;
  margin-: 2px;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 800;
  display: inline-grid;
}

#user
#userlogin:hover {
  color: #cfcfcf;
  background-color: #2d6e8c;
}

#newuser,
#guestuser {
  font-size: 17px;
  color: #cfcfcf;
  border: 2px solid inherit;
  margin: 2px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  background-color: #2d6e8c;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 800;
}

#user {
  display: none;
}

@media screen and (max-width: 991px){
    .usercontainer {
      overflow: hidden;
      background-color: inherit;
    }
    .field {
      display: none;
    }
    #userlogin {
      display: none;
    }
    #user,
    #newuser,
    #guestuser {
      display: block;
      height: 50px;
      width: 130px;
      color: #cfcfcf;
      background-color: #2d6e8c;
      position: absolute;
      right: 2px;
      top: 2px;
      display: flex;
      border-style: none;
      border-radius: 0;
      text-decoration: underline;
    }
    #newuser {
      right: 0px;
      top: 45px;
    }
    #guestuser {
      right: 0px;
      top: 88px;
    }
    #user:hover {
      background-color: darkblue;
    }
    #newuser:hover {
      background-color: darkblue;
    }
    #guestuser:hover {
      background-color: darkblue;
    }
    .usercontainer .show {
      visibility: visible;
      -webkit-animation: fadeIn ls;
      animation: fadeIn ls;
    }
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }
}
