// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.usercontainer {
  text-align: center;
  color: #173d4e;
  background-color: #e4edec;
  width: 400px;
  height: 200px;
  padding-top: 20px;
  margin-left: 1455px;
  margin-top: 0px;
  margin-bottom: 585px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
}

.usercontainer:hover {
  opacity: 1;
}
.field {
  padding: 2px;
  line-height: 2;
}

#userlogin {
  font-size: 17px;
  color: #2d6e8c;
  border: 2px solid;
  padding: 3px;
  margin-: 2px;
  border-radius: 5px;
  width: 90px;
  height: 35px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 800;
}

#userlogin:hover {
  color: #cfcfcf;
  background-color: #2d6e8c;
}

#newuser,
#guestuser {
  font-size: 17px;
  color: #cfcfcf;
  border: 2px solid inherit;
  margin: 2px;
  padding: 3px;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  background-color: #2d6e8c;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 800;
}
