// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teamcontainer {
  color: darkblue;
  background-color: lightblue;
  width: 400px;
  height: auto;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
  position: absolute;
  top: 160px;
  right: 650px;
  border: 2px solid darkblue;
}

#team,
#createteamtitle {
  text-align: center;
}

.createteamcontainer {
  text-align: center;
  color: darkblue;
  background-color: lightblue;
  width: 400px;
  height: auto;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
  position: absolute;
  top: 160px;
  right: 650px;
  border: 2px solid darkblue;
}

#newteam {
  font-size: 17px;
  color: #2d6e8c;
  border: 2px solid;
  padding: 3px;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
}

#newteam:hover {
  color: #cfcfcf;
  background-color: #2d6e8c;
}

.teamfield {
  font-size: 18px;
  font-weight: 500;
}

#teaminfo {
  color: darkblue;
  font-weight: 600;
  font-size: 22px;
}

@media screen and (max-width: 880px){
    .teamcontainer,
    .createteamcontainer {
      position: relative;
      left: 200px;
    }
}
