
.showcontainer {
  color: #e4edec;
  background-color: #1b408f;
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-left: 40px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
}

#myaccount {
  text-align: center;
  color: lightblue;
  font-size: 40px;
  font-weight: 700;
}

.graph {
  display: block;
  padding: 15px;
  opacity: 1;
  margin: 0 auto;
  border: 3px double darkred;
  border-width: 10px 5px;
  border-radius: 50px 60px;
  background-color: white;
}
h1 {
  color: darkblue;
  font-size: 35px;
  font-weight: 700;
}

h2,
ul {
  color: #e4edec;
  font-size: 18px;
}

.signupcontainer {
  text-align: center;
  color: darkblue;
  background-color: lightblue;
  width: 550px;
  height: auto;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
  position: absolute;
  top: 160px;
  right: 650px;
  border: 2px solid darkblue;
}

.signupcontainer:hover {
  opacity: 1;
}

hr {
  font-weight: 800;
}

.signupfields {
  font-size: 18px;
  font-weight: 500;
}

#user_email,
#user_password,
#user_password_confirmation {
  font-size: 15px;
}

#newsignup {
  font-size: 17px;
  color: #2d6e8c;
  border: 2px solid;
  padding: 3px;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
}

#newsignup:hover {
  color: #cfcfcf;
  background-color: #2d6e8c;
}

a {
    color: blue;
}

li {
  color: lightblue;
  font-weight: 600;
}

@media screen and (max-width: 880px){
    .signupcontainer {
      position: relative;
      left: 200px;
    }
