// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signupcontainer {
  text-align: center;
  color: #e4edec;
  background-color: #1f3563;
  width: 520px;
  height: 370px;
  padding-top: 5px;
  margin: 260px 730px;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.9;
}

.signupcontainer:hover {
  opacity: 1;
}

hr {
  font-weight: 800;
}

#newsignup {
  font-size: 17px;
  color: #2d6e8c;
  border: 2px solid;
  padding: 3px;
  margin-: 2px;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 800;
}

#newsignup:hover {
  color: #cfcfcf;
  background-color: #2d6e8c;
}
